
input{
    width: 500px;
    height: 40px;
}
button{
    width: 100px;
    height: 45px;
}
h1{
    padding: 0 0 0 200px;
}
.list{
    justify-content: center;
    margin-top: 10px;
    overflow-y: auto;
    height: 500px;
    background-color: lightgrey;
}
.buttons{
    display: flex;
    margin-left: 10px;
    padding-left: 10px;
    gap: 10px;
}
.button5{
    width: 120px;

}
